<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
	<handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
	<handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
	<handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
	<handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unsere_base-AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Unsere_base-Base_Config-Jury_Config.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.memory_manager.release_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777223_1" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777223_2" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777223_5" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777223_6" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777223_7" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777223_8" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777249_10" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777249_3" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777249_4" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777249_9" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_1" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_2" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_3" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_4" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_5" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_6" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
